<%= link_to '戻る', mypage_path %>
<hr>

<h2><%= @device.name %></h2>
<%= l @filetree_snapshot.created_at, format: :ja %>

<hr>

<div id="filetree" data-controller="filetree">
  <button data-action="filetree#openAll">Open All</button>
  <button data-action="filetree#closeAll">Close All</button>
  <input data-action="input->filetree#search" type="text" data-target-target="search" placeholder="Search" size="50">

  <%= render_filetree(@filetree_snapshot.data) %>
</div>
